@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
* {
    margin: 0px;
    padding: 0px;
}

.img-1{
    background: url("../img/src_html_css_homework_homework8_img_bg1.jpg");
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.sertiz{
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    width: 300px;
}
.awsome{
    font-family: "Lato";
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 28px;
}
.we{
    border-style: solid;
    border-width: 1px;
    border-color:  #ffffff;
    background-color:  #ffffff;
    width: 152px;
    height: 129px;
    position: relative;
    display: inline-block;
}
.we-txt{
    font-family: 'Montserrat', sans-serif;
    color:  #f1ad1d;
    font-size: 54px;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 32px;
}
.make{
    border-style: solid;
    border-width: 1px;
    border-color:  #ffffff;
    background-color:  rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 129px;
    position: relative;
    display: inline-block;
    margin-left: -5px;
}
.maketxt{
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 30px;
}
.content-1{
    position: relative;
    left: 30px;
    top: 611px;
    width: 97%;
}
.content-2{
    background-color: white;
    height: 300px;
    position: relative;
}
.what{
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    position: relative;
    top: 63px;
}
.we-are{
    font-family: "Lato";
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    position: relative;
    top: 106px;
}
.pol-os{
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    left: 47.6%;
    position: relative;
    top: 145px;
}
.img-2 {
    background: url("../img/src_html_css_homework_homework8_img_bg2.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.we-chance{
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 175px;
}
.we-cha{
    display: inline-block;
    color: white;
}
.ideas{
    color:  #f1ad1d;
    display: inline-block;
    margin: 5px;
}
.to{
    color: white;
    display: inline-block;
    margin: 5px;
}
.real{
    color:  #f1ad1d;
    display: inline-block;
}
.pol-os2{
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    left: 47.6%;
    position: relative;
    top: 228px;
}
.img-3{
    background: url("../img/src_html_css_homework_homework8_img_bg3.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-txt{
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 97px;

}
.we-are-2{
    color: white;
    display: inline-block;
}
.featured{
    color: #f1ad1d;
    display: inline-block;
    margin: 5px;
}
.on{
    color: white;
    display: inline-block;
}
.pol-os3{
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    left: 47.6%;
    position: relative;
    top: 59px;
}
.img-1-1, .img-2-2, .img-3-3, .img-4-4{
    display: inline-block;
    margin: 20px;
}
.img-content{
    top: 196px;
    position: relative;
    left: 12%;
    width: 85%;
}
.pol-os4{
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    left: 47.6%;
    position: relative;
    top: 166px;
}
.img-4{
    background: url("../img/src_html_css_homework_homework8_img_bg4.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.txt-img-bottom{
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.check-what{
    color: white;
    display: inline-block;
}
.said{
    color: #f1ad1d;
    display: inline-block;
    margin: 5px;
}
.our{
    color: white;
    display: inline-block;
}
.bird{
    color: #f1ad1d;
    display: inline-block;
    margin: 5px;
}
.txt-img-bottom{
    position: relative;
    top: 86px;
}
.we-have-great{
    color: white;
    display: inline-block;
}
.theme-fore{
    color: #f1ad1d;
    display: inline-block;
    margin: 5px;
}
.for-one{
    color: white;
    display: inline-block;
}
.have-het{
    color: #f1ad1d;
    text-align: center;
    font-family: "Lato";
    font-size: 18px;
    position: relative;
    top: 140px;
}
.txt-img-bottom-top{
    text-align: center;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    top: 143px;
}
.pol-os5{
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    position: relative;
    top: 119px;
    left:47.6%;
}
.pol-os6{
    background-color:  #ffffff;
    width: 281px;
    height: 3px;
    position: relative;
    top: 192px;
    left:37.6%;
}
.content-3{
    background-color: white;
    height: 300px;
    position: relative;
}
.what-1{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    position: relative;
    top: 115px;
}
.we-are-1{
    font-family: "Lato";
    color: #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    position: relative;
    top: 145px;
}
